@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />
<div class="page">
    <div class="sidebar">
        <RadzenPanelMenu Style="height: 100%; overflow:auto">
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="SMTP Test" Icon="email" Path="smtp-test" />
            <RadzenPanelMenuItem Text="Settings" Icon="settings" Path="settings" />
            <RadzenPanelMenuItem Text="Logs" Icon="article" Path="logs" />
        </RadzenPanelMenu>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
